<div class="container">
        <div class="row">
            <div class="col-md-6" id="predict2">
                <img src="{{ url_for('static',filename='uploads/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
            </div>
            <div class="col-md-6" id="predict2">
                <img src="{{ url_for('static',filename='predict/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
            </div>
        </div>
    </div>

    <style>
        #predict{
            border: solid;
            color:#002f4d;
            text-align: center;
        }
    </style>
